body{
    margin:0 auto;
    padding: 0%;
 
}
section{margin: 0;}
/*--------header and nav style-------------*/
section{clear: both;}
header{
    padding: 10px;
    height: 50px;
}


nav{ float: right;margin:0 auto;
     width: 350px;height: 40px; 
}
nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}


/* --------------section 1 --------*/


.firstSection{ overflow: hidden;
    margin: 0 auto;
   height: 1200px; width: 80%;
}

.firstSection div{
   width: 50%;height: 50%;
   float: left;
}
#big-hd{
    padding-top: 20px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color:red;
    }
#btn{
    margin-top: 20px;
    padding: 20px 30px;
    font-weight: 700;
    font-size:18px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(224, 91, 162);
    color: ghostwhite;
}
#btn1{
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size:14px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(224, 91, 162);
    color: lavenderblush;
}

#color1{
    color: chocolate;
}
#img1{
    position: relative;
    background-position:
    center;margin-top: 70px;
}
#img2{
  float: left;
}
#sm-hd{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px; 
    color: rgb(231, 142, 26);
}



/* ---section 2 ---- */


.secondSection{
    margin: 0 auto;
    height: 800px; width: 80%;
}
.color2{
    color: rgb(143, 9, 9);
}
.color3{
    color: chocolate;
}

.fourth{
  
    padding-top: 100px;
}
#img3{
    padding: 20px 20px 10px 20px;
}



/* --------------------section 3--------------------- */

.thirdSection{
    margin: 0 auto;
    height: 800px; width: 80%;
}
.lower{
    background-color: darkgray;
}
.lower div{
   margin:10px;
    width:380px;
    height:400px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;
   
}
.expart div{
    width: 330px;
    height: 430px;
    float: left;padding:10px;
    margin: 10px;
    background-image: linear-gradient(180deg, rgb(235, 130, 130), rgb(253, 238, 170));
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(199, 197, 197);
}
#sm-hd2{padding-top: 100px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;  
    letter-spacing:2px;
    text-align: center;
}
#dd1{
    margin-left: 55px;
}
.expart button{
    text-align: center;
    margin: 0 auto;
}
#hd2{
    text-align: center;
}


#worHD{
    font-weight: bolder;
    padding-left: 20px;
}
.lower div p{
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    line-height: 20px;
}

.expart div p{
    text-align:left;
    font-size: 18px;
    padding-left: 20px;
}
/* --------------------footer section------------------ */


.footer{
    margin: 0 auto;
    height: 600px; width: 80%;
}
.footer div{height: 50%;
            float: left;clear: both;
        }
.footer1{width: 100%;
         height: auto;
         margin-bottom: 0;
        }
.footerHead{
         text-align: center;
         font-size: 18px;
         text-transform: uppercase;
         line-height:40px;
         color: lightslategrey;
}
.email{
         text-align: center; 
         position: relative;
         font-size:40px;
         font-weight: bolder;
         color: orangered;
}



.fourth p{
        text-align: left;
        width: 500px;
    } 
.img4{
        position: relative;
        margin-top:50px;
        margin-left: 100px;
        clear: both;
}
.img4 #left{
        top: 0;left: 0;
        margin-top: 40px;
        margin-left: 120px;
        position: absolute;
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: azure;
        font-family: Bebas Neue; 
}
.img4 #right{
        top: 0;right: 0;
        margin-top: 60px;
        margin-right: 120px;
        position: absolute;
  
}