body{
    margin:0 auto;
    padding: 0%;
    background-color: rgb(60, 184, 184);
}

/*================= header and nav style======================= */
section{clear: both;}
header{
    border: .5px solid;
    padding: 10px;
    height: 50px;
}
/* section::after{
    content: "";
    display: table;
    clear: both;
} */
section{margin: 0;}
nav{ float: right;margin:0 auto;
    border: .5px red;/* padding-top: 10px; */
    width: 350px;height: 40px;
    background-color: rgb(135, 135, 216);
}
nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}
#big-hd{
    padding-top: 20px;
    font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 80px;
}
#btn{
    margin-top: 20px;
    padding: 20px 30px;
    font-weight: 700;
    font-size:18px;
    border-radius: 10px;
    border-style: none;
}
#btn1{
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size:14px;
    border-radius: 10px;
    border-style: none;
}
/*================= header and nav style end ======================= */

.firstSection{ overflow: hidden;
     margin: 0 auto;
    height: 1200px; width: 80%;
    background-color: cadetblue;
   
}
 
.firstSection div{
  
    width: 50%;height: 50%;
    float: left;
   /*  border: .5px solid; */
}
.first{
    background-color: rgb(212, 216, 151);
  
}
.fourth{
    background-color: rgb(96, 131, 85);
    padding-top: 100px;
}
.secondSection{
    margin: 0 auto;
    height: 800px; width: 80%;
    background-color: rgb(212, 224, 179);
}
/* .secondSection::after{
    content: "";
    display: table;
    clear: both;
} */

.lower{
    background-color: darkgray;
}
.lower div{border: .5px solid blue;
   margin:10px;
    width:380px;
    height:400px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
   
}
.thirdSection{
    margin: 0 auto;
    height: 800px; width: 80%;
    background-color: rgb(181, 185, 204);
}
.expart div{border: .5px solid rgb(56, 16, 54);
    width: 330px;
    height: 430px;
    float: left;padding:10px;
    margin: 10px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}
.footer{
    margin: 0 auto;
    height: 600px; width: 80%;
    background-color: rgb(214, 136, 191);
}
.footer div{height: 50%; float: left;clear: both;}


#img1{border: .5px solid;
    position: relative;
    background-position: center;
}
#img2{
    border: .5px solid;
}
#sm-hd{
 
    font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 80px;  
}
.fourth p{
  text-align: left;
  width: 500px;
} 
#sm-hd2{padding-top: 100px;
    font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 70px;  letter-spacing:2px;
text-align: center;
}
#img3{
    padding: 20px 20px 10px 20px;
}
#worHD{
    font-weight: bolder;
    padding-left: 20px;
}
.lower div p{
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    line-height: 20px;
}
#dd1{
    margin-left: 55px;
}
.expart button{
    text-align: center;
    margin: 0 auto;
}
#hd2{
    text-align: center;
}
.expart div p{
 text-align:left;
 font-size: 18px;
 padding-left: 20px;
}
.img4{
    position: relative;
   margin-top:50px;margin-left: 100px;clear: both;
}
.img4 #left{
    top: 0;left: 0;margin-top: 40px;margin-left: 120px;
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
}
.img4 #right{
    top: 0;right: 0;margin-top: 60px;margin-right: 120px;
    position: absolute;
  
}
/* #icon{
   
    margin-left: 300px;
}
 */